* {
background-color: black;
color: white;
}

/* 
nav ul li {
  display: inline;
  margin: 15px;
  padding: 10px;
 vertical-align: middle;
}

.navContainer {
display: flex;
justify-content: space-evenly;
} */
